  /* header */
  header { position: fixed; display: flex; justify-content: space-between; width: 100%; height: 70px; box-shadow: 0 0 10px #eee; }
  header.active { background: #fff; box-shadow: 0 0 10px #eee;}
  header h1 { width: 210px; border: 1px solid #000;}
  .nav_list { display: flex; align-items: center; height: 100%; }
  .nav_list li { padding: 10px; margin-left: 10px; background: #fff; }
  .nav_list li:first-child { margin-left: 0; }
  .nav_list li a { font-size: 18px; color: #000; text-decoration: none; }

  /* article */
  .article { display: flex; align-items: center; justify-content: center; flex-direction: column; height: 40vh; }
  .article h1 { font-size: 32px; font-weight: bold; }
  .article .explanation { display: block; padding: 10px 15px; color: #444; font-weight: bold; border-radius: 30px; box-shadow: 1px 1px 10px 4px #f2edff; }
  /* section */
  .section { display: flex; justify-content: center; align-items: center; flex-direction: column; padding: 100px 0; width: 100%; }

  .section h2 {
    margin-bottom: 20px;
    color: #444;
    font-size: 28px;
    font-weight: 500;
    text-align: center;
  }
  .section h4 {
    font-size: 18px;
    font-weight: 400;
  }

  .sec-01 { background: #eee; }
  .sec-02 { background: #f2edff; }
  .sec-03 { background: #eee; }

  /* sec-01 클로저 */
  .toggle {
    padding: 10px;
    border: 1px solid #000;
    background: #fff;
  }
  .toggle .toggle_title {
    font-size: 28px;
    font-weight: 500;
  }
  .toggle .chang_text {
    color: #fff;
    background: #00f;
  }
  .toggle .chang_text.active {
    background: #f00;
  }
  .toggle .toggle_btn {
    padding: 4px 8px;
    display: block;
	  box-shadow: 1px 1px 4px 1px #ccc;
  }

  /* sec-02 이벤트버블링, 캡쳐링, 위임 */
  .sec-02 {}
  .sec-02 .addevent { display: flex; justify-content: space-around; width: 100%; }
  .sec-02 .green { width: 100px; height: 100px; background: green; }
  .sec-02 .green .yellow { width: 70px; height: 70px; background: yellow; }
  .sec-02 .green .yellow .tomato{ width: 50px; height: 50px; background: tomato; }

  /* sec-03 쿵쿵따 끝말잇기 */
  .sec-03 {}
  .start { padding: 10px 20px; color: #aaa; font-weight: bold; border: 1px solid #aaa; border-radius: 20px; transition: all .25s ease-in;}
  .start:hover { background: #444; color: #fff;}
  .follow { display: none; margin-top: 20px; padding: 20px; box-shadow: 1px 1px 4px 1px #ccc; transition: all .20s ease-in; }
  .follow .order { text-align: center; }
  .follow .order .participant { font-size: 20px; font-weight: bold; }
  .follow .suggested {}
  .follow .suggested .word { font-size: 20px; font-weight: bold; }
  .follow .fol_input {}
  .follow .fol_btn { padding: 4px 8px; box-shadow: 1px 1px 4px 1px #ccc; }


  /* sec-04 계산기 만들기 */
  .sec-04 {display: none;}
  .calculator { width: 100%; display: flex; justify-content: center; align-items: center;}
  .calculator .table_style { min-width: 500px; border: 1px solid #000; }
  .calculator .table_style thead {  }
  .calculator .table_style thead tr {  }
  .calculator .table_style thead tr th { padding: 0 15px; width: 100%; text-align: right; }

  .calculator .table_style tbody { }
  .calculator .table_style tbody tr { border-top: 1px solid #000; }
  .calculator .table_style tr { display: flex; height: 40px; line-height: 40px; font-size: 24px; text-align: center; }
  .calculator .table_style tbody td { flex: 1; border-right: 1px solid #000; cursor: pointer; }
  .calculator .table_style tbody td:last-child { border-right: none;}
  .calculator .table_style .divide td:first-child{ flex: 2;}